
<section id="about">
    <div class="container">

      <div class="row">
          <div class="col-lg-12">
              <h2 class="section-heading"><img src="{{site.baseurl}}/assets/images/logo-color.png"></h2>
          </div>
      </div>


      <div class="row">
        <div class="col-lg-12">
          <p class="lead">
            A leak, damaged or missing shingles, wet plyboard, poorly applied roofing material—all these and more can cause serious mold and water damage to your home.
          </p>

          <p class="lead">
            Your roof is your home's first defense against the weather. It protects your health, your most valuable posessions, and irreplaceable memories. Why would you trust your roof to anyone else?
          </p>
        </div>
      </div>

        <div class="row">

            <div class="col-sm-12">
                <p class="large text-muted">
                  <strong>Blue Ink Construction</strong> is a family-owned and operated business serving all of NJ.
                </p>

                <p class="large text-muted">
                  Our professionalism towards our customers is exemplified and thorough. There has never been any job left incomplete. We are detail-oriented, trustworthy, and reliable, and we constantly keep up-to-date with new products and application processes to ensure our customers are getting the quality service they deserve.
                </p>

                <p class="large text-muted">
                  Our sincere and helpful approach to our customers is what makes us stand out from the rest. We are deeply involved in every project from beginning until completion. We personally inspect all aspects of our projects to ensure the correct remedies and methods are use to solve each and every problem.
                </p>

                <p class="large text-muted">
                  Our roofers are certified GAF.
                </p>
            </div>

        </div>

    </div>
</section>
