<!-- Services Section -->


</section>

    <section id="investors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Are you an Investor?</h2>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                  <p class="lead">
                    Looking to fix and flip properties? Interested in renovating your investments? New to real-estate investing and looking for guidance? <strong>Reach out to us!</strong> We're happy to work out deals with you.
                  </p>
                </div>
            </div>


        </div>
    </section>
