<!-- Team Section -->
    <section id="team" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Our team</h2>
                    <h3 class="section-subheading text-muted">Committed to the highest excellence.</h3>
                </div>
            </div>
            <div class="row">
              <!--  {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>

                    </div>
                </div>
                {% endfor %} -->

                <div class="col-sm-12">
                  <p class="large text-muted">
                    Our owner, <strong>Sandra Chong</strong>, has been in the construction industry for over twenty years. She started as a certified architectural drafter, creating blueprints for some of the largest firms in the construction industry. Since then, she has worked in every phase of construction, including carpentry, full renovations, residential and commericial construction. After working with many construction companies both in the field and the office, she founded Blue Ink Construction in 2007. While she is knowledgable in all phases of construction, her speciality is roofing, siding, and windows.
                  </p>
                </div>
            </div>
        </div>
    </section>
