body
{
  background: #FFF;
  color: #293E5C;
  font-family: "Raleway", "Helvetica", sans-serif;
}


h1, h3
{
  text-transform: uppercase;
}


.content
{
  max-width: 960px;
  margin: 0px auto;
  padding: 10px;
}


.top
{
  text-align: left;
  border-bottom: 1px solid #293E5C;
  padding: 30px 0px;
}

.top img
{
  max-width: 50%;
}

.date
{
  float: right;
  font-style: italic;
  font-weight: 400;
}




.images img
{
  max-height: 200px;
  max-width: 30%;
}
